@primary-color: gray;

body {
	background-color: @primary-color;
	background-image: url('../images/tree.png');
	background-repeat: no-repeat;
	box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
	box-sizing:border-box;

	.container {
		width: 1280px;
		transform: rotate(45deg);

		.row {
			padding: 0 45px;
		}
	}
}